.container {
  text-align: center;
  max-width: 1200px;
}

h1 {
  font-size: 2.027rem;
}

ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #000;
  width: 100%;
  height: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-size: 20px;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.banner1-container {
  position: relative;
  height: 750px;
  max-width: 1200px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 130px;
  text-align: center;
  max-width: 1200px;
}

h2 {
  font-size: 1.802rem;
}

.center {
  text-align: center;
}

h3 {
  margin-top: -11px;
  padding-left: 8px;
  font-size: 1.424rem;
  font-weight: bold;
  text-align: center;
}

.non-center {
  margin-top: -11px;
  padding-left: 8px;
  font-size: 1.824rem;
  font-weight: bold;
}

.button1 button,
.button2 button {
  background-color: white;
  color: #000;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.button1,
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pyellow {
  color: #d69e3d;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: -10px;
}

.pyellow-center {
  color: #d69e3d;
  text-align: center;
}

.grid1-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 0;
  max-width: 1200px;
}

body {
  background-color: #f3f0e9;
}

.center img {
  width: 200px;
}

.center p {
  margin-bottom: 130px;
}

.banner2-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  height: 550px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
  max-width: 1200px;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.white {
  color: #fff;
  font-size: 1.802rem;
}

.transparent-button button {
  all: unset;
  font-family: 'Karla', sans-serif;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 200px;
  height: 50px;
}

.transparent-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.margin {
  margin-top: -100px;
  margin-left: 5px;
  font-size: 30px;
}

.non-center {
  padding-right: 762px;
}

.black-button button {
  all: unset;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  background-color: #000;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
}

.black-button {
  margin-right: 810px;
  text-align: center;
  margin-bottom: 120px;
  padding: 10px;
}

.about-us-img {
  margin: 15px;
  margin-top: 250px;
}

.coffee-shop-img {
  width: 900px;
  object-fit: cover;
  height: 950px;
}

.our-story-h3 {
  text-align: left;
  font-size: 1.802rem;
}

.white2 {
  color: #fff;
  text-align: left;
  font-size: 1.802rem;
}

.testimonials-container {
  background-color: #000;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.testimonials-text {
  color: #fff;
}

.names {
  color: #d69e3d;
  margin-top: -30px;
}

.testimonial {
  position: relative;
  display: block;
  margin: 20px 0;
}

.testimonial-image {
  width: 100%;
  height: 680px;
  object-fit: cover;
}

.overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;

}

.testimonials-text {
  color: #fff;
  text-align: left;
  margin: 0;
}

.names {
  color: #d69e3d;
  margin-top: 10px;
  text-align: left;
}

footer {
  background-color: #000;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.986rem;
  }

  h2 {
    font-size: 2.488rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  p {
    font-size: 1rem;
  }

  nav ul {
    padding: 0;
  }

  .flex-container {
    display: flex;
    gap: 20px;
    padding: 10px;
  }

  .large-image {
    flex: 1;
  }

  .large-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .grid1-container {
    flex: 1;
  }

  .grid1-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .visit-container {
    display: flex;
    gap: 20px;
    position: relative;
    margin: -10px;
  }

  .visit-item {
    text-align: center;
    flex: 1;
    margin: 20px;
  }

  .visit-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .visit-item h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .local-baked-goods {
    order: 2;
  }

  .about-us-img {
    width: 500px;
  }

  .visit-item-fair-trade {
    margin-left: 50px;
    width: 250px;
    text-align: center;
  }

  .visit-item-made-with-love {
    width: 250px;
    text-align: center;
    margin-top: 500px;
    margin-bottom: 80px;
  }

  .visit-item-local-baked-goods {
    margin-left: 50px;
    width: 250px;
    text-align: center;
  }

  .banner2-container {
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
    gap: 150px;
    margin-bottom: -200px;
  }

  .about-us-img {
    float: left;
  }

  .content-container {
    padding-top: 350px;
  }

  .black-button {
    margin-bottom: 300px;
    padding-left: 450px;
  }

  .overlay3 {
    width: 880px;
    padding: 15px;
    z-index: 0;
    width: 100%;
  }

  .testimonials-images-container {
    display: flex;
    gap: 20px;
  }
}

.pwhite {
  color: #fff;
  margin-bottom: 10px;
}

@media (min-width: 1100px) {

  h1 {
    font-size: 3.815rem;
  }

  h2 {
    font-size: 3.052rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  p {
    font-size: 1rem; 
  }

  header {
    height: 250px;
  }

  .visit-container {
    display: flex;
  }










}